<div class="flex justify-between gap-8 px-6 py-2.5 h-20 border border-neutral-300">
    <form>
        <mat-form-field appearance="outline" class="global-search gap-8 w-[350px] relative top-1" style="display: block;">
            <img src="images/search.png" alt="Search" class="inline-block mr-3">
            <input matInput placeholder="Global Search" class="!w-[235px]">
        </mat-form-field>
    </form>
    <nav class="flex">
        <ul class="flex items-center gap-8">
            <li>
                <div class="w-px h-9 bg-gray-200"></div>
            </li>
            <li>
                <img src="images/user.png" alt="" class="rounded-full">
            </li>
        </ul>
    </nav>
</div>