<div class="flex flex-col px-6 py-3 h-20.1 text-slate-800 mb-6">
    <div class="flex justify-start h-14.5 gap-2">
        <img src="/images/logo.png" alt="" class="h-full">
    </div>
</div>

@if (menuService.menuItems().length > 0) {
    <span class="block text-center font-extrabold text-lg py-2 border border-gray-300 rounded-md bg-[#0071bb26]">Genres</span>
    <nav class="font-inter flex flex-row flex-wrap justify-between bg-[#fbfbfb] py-3">
        @for (item of menuService.menuItems(); track item?.slug) {
            <ul class="h-8 px-3 py-1.5 gap-2.5 hover:bg-[#0071bb0d] w-[150px] cursor-pointer">
                <li>
                    <a [routerLink]="item?.slug" class="flex flex-row px-3 gap-2.5 hover:text-purple-900">
                        <span class="font-semibold text-[#0c3c5a]">{{ item?.name }}</span>
                    </a>
                </li>
            </ul>
        }
    </nav>
}