<div class="flex flex-row flex-nowrap justify-between items-center p-4">
    <h2 mat-dialog-title class="text-2xl">Movie</h2>
    <button matButton mat-dialog-close>X</button>
</div>

<mat-dialog-content class="mat-typography !flex flex-row flex-wrap justify-end">
    <form [formGroup]="movieForm" class="pb-6">
        <div class="flex flex-wrap">
            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>MM/DD/YYYY</mat-label>
                <input matInput formControlName="release_date" [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Country</mat-label>
                <input #input matInput formControlName="country" [matAutocomplete]="autocomplete">
                <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayCountry">
                    @for (country of filteredCountries | async; track country?.iso2) {
                        <mat-option [value]="country">{{ country?.name }}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Director</mat-label>
                <input matInput formControlName="director">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Genre</mat-label>
                <input matInput formControlName="genre">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Quality</mat-label>
                <input matInput formControlName="quality">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Duration</mat-label>
                <input matInput formControlName="duration">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Actors</mat-label>
                <input matInput formControlName="actors">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-1/2 px-2">
                <mat-label>URL</mat-label>
                <input matInput formControlName="url">
            </mat-form-field>
        </div>
    </form>
    <button matButton="outlined" class="!rounded-md !border-2 !border-[#E4E4E4]">
        <mat-icon>save</mat-icon> Save
    </button>
</mat-dialog-content>
<mat-dialog-actions></mat-dialog-actions>